In [1]:
import pandas as pd
import numpy as np
import random as rnd
import scipy.stats as stats

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('housing.csv')

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [5]:
df.describe(include=['O'])

       ocean_proximity
count            20640
unique               5
top          <1H OCEAN
freq              9136

In [6]:
df2 = pd.DataFrame()
df2['ocean_proximity'] = df['ocean_proximity']
df.drop(columns=['ocean_proximity'])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [7]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
df = df.replace([(df < (Q1-1.5*IQR)) | (df > (Q3+1.5*IQR))], df.median)

In [8]:
df['ocean_proximity'] = df2['ocean_proximity']

In [9]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [10]:
df['total_bedrooms'] = df['total_bedrooms'].fillna((df['total_bedrooms'].mean()))

In [11]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [12]:
df.drop(df[df['ocean_proximity']=="ISLAND"].index, inplace = True)

In [13]:
df= pd.DataFrame.drop_duplicates(df)

In [14]:
df.reset_index(inplace=True)

In [15]:
df.head()

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [16]:
#map={'INLAND':1,'NEAR OCEAN':2,'NEAR BAY':3 ,'OCEAN' :4}
#df['ocean_proximity']=df['ocean_proximity'].map(map).astype(int)

In [17]:
df = df.drop(columns=['ocean_proximity'])

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
scaler=StandardScaler()
df_sc= scaler.fit_transform(df)
df_sc

array([[-1.73186229, -1.32758675,  1.0523074 , ..., -0.97710434,
         2.34445035,  2.13042277],
       [-1.73169447, -1.32259582,  1.04294352, ...,  1.66970044,
         2.33192347,  1.31478403],
       [-1.73152666, -1.33257768,  1.03826157, ..., -0.84371793,
         1.78242517,  1.25931019],
       ...,
       [ 1.73136372, -0.82350324,  1.77800836, ..., -0.17417048,
        -1.14265325, -0.99258083],
       [ 1.73153154, -0.8734125 ,  1.77800836, ..., -0.39386574,
        -1.0546493 , -1.05845601],
       [ 1.73169935, -0.83348509,  1.74991671, ...,  0.07952524,
        -0.78021596, -1.01771741]])

In [20]:
df_sc = pd.DataFrame(df_sc, columns=df.columns)
df_sc.head()

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-1.731862,-1.327587,1.052307,0.982535,-0.804871,-0.975202,-0.974532,-0.977104,2.344450,2.130423
1,-1.731694,-1.322596,1.042944,-0.606833,2.045604,1.354890,0.861225,1.669700,2.331923,1.314784
2,-1.731527,-1.332578,1.038262,1.856687,-0.535820,-0.829721,-0.820890,-0.843718,1.782425,1.259310
3,-1.731359,-1.337569,1.038262,1.856687,-0.624281,-0.722398,-0.766144,-0.733870,0.932756,1.165698
4,-1.731191,-1.337569,1.038262,1.856687,-0.462484,-0.615075,-0.759963,-0.629254,-0.013024,1.173499

In [21]:
y = df_sc['median_house_value']
X = df_sc.drop('median_house_value', axis=1)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1000)

In [22]:
from sklearn.linear_model import LinearRegression, Ridge,RidgeCV, Lasso, LassoCV, ElasticNet, ElasticNetCV

In [93]:
model_linear = LinearRegression()
model_ridge = Ridge(alpha=10)
model_lasso = Lasso(alpha=0.0006898842375557206)
model_net = ElasticNet(alpha=.0013797684751114415)

In [94]:
y_hat_linear= model_linear.fit(X_train, y_train).predict(X_test)
y_hat_ridge = model_ridge.fit(X_train, y_train).predict(X_test)
y_hat_lasso = model_lasso.fit(X_train, y_train).predict(X_test)
y_hat_net   = model_net.fit(X_train, y_train).predict(X_test)

In [95]:
df_predictions = pd.DataFrame({'y_test':y_test,
                               'y_hat_linear':y_hat_linear,
                               'y_hat_ridge':y_hat_ridge,
                               'y_hat_lasso':y_hat_lasso,
                               'y_hat_net':y_hat_net})
df_predictions.head()

         y_test  y_hat_linear  y_hat_ridge  y_hat_lasso  y_hat_net
2740  -1.132132     -0.796927    -0.792767    -0.788522  -0.783855
7094   0.679435      0.524616     0.525292     0.530600   0.531301
10108  0.529483      0.247157     0.247519     0.246956   0.247352
6322   1.105024      0.941400     0.942247     0.944743   0.945666
288   -0.573927      0.284016     0.282552     0.283442   0.281779

In [96]:
MSE_test = np.mean(np.square(df_predictions['y_test'] - df_predictions['y_hat_linear']))
RMSE_test = np.sqrt(MSE_test)
np.round(RMSE_test,3)

0.598

In [97]:
MSE_test = np.mean(np.square(df_predictions['y_test'] - df_predictions['y_hat_ridge']))
RMSE_test = np.sqrt(MSE_test)
np.round(RMSE_test,3)

0.598

In [98]:
MSE_test = np.mean(np.square(df_predictions['y_test'] - df_predictions['y_hat_lasso']))
RMSE_test = np.sqrt(MSE_test)
np.round(RMSE_test,3)

0.598

In [99]:
MSE_test = np.mean(np.square(df_predictions['y_test'] - df_predictions['y_hat_net']))
RMSE_test = np.sqrt(MSE_test)
np.round(RMSE_test,3)

0.598

In [30]:
alpha_ridge = 10**np.linspace(-2,4,100)

In [31]:
ridge = Ridge()
coefs_ridge = []

for i in alpha_ridge:
    ridge.set_params(alpha = i)
    ridge.fit(X_train, y_train)
    coefs_ridge.append(ridge.coef_)
    
np.shape(coefs_ridge)

(100, 9)

In [32]:
ridgecv = RidgeCV()
ridgecv.fit(X_train, y_train)
ridgecv.alpha_

10.0

In [33]:
alpha_lasso = 10**np.linspace(-3,1,100)

In [34]:
lasso = Lasso()
coefs_lasso = []

for i in alpha_lasso:
    lasso.set_params(alpha = i)
    lasso.fit(X_train, y_train)
    coefs_lasso.append(lasso.coef_)
    
np.shape(coefs_lasso)

(100, 9)

In [35]:
lassocv = LassoCV()
lassocv.fit(X_train, y_train)
lassocv.alpha_

0.0006898842375557206

In [36]:
alpha_elasticnet = 10**np.linspace(-3,2,100)

In [37]:
elasticnet = ElasticNet()
coefs_elasticnet = []

for i in alpha_elasticnet:
    elasticnet.set_params(alpha = i)
    elasticnet.fit(X_train, y_train)
    coefs_elasticnet.append(elasticnet.coef_)
    
np.shape(coefs_elasticnet)

(100, 9)

In [38]:
elasticnetcv = ElasticNetCV()
elasticnetcv.fit(X_train, y_train)
elasticnetcv.alpha_

0.0013797684751114415